<?php echo $header; ?>
<div class="categoryDescription" <?php if ($thumb) { ?>style="background-image: url(<?php echo $thumb; ?>);"<?php } ?>>
  <div class="categoryDescription__wrapper" <?php if ($thumb) { ?>style="background-color: rgba(0,0,0,0.5)"<?php } ?>>
    <div class="container">
      <div class="categoryDescription__inner" style="min-height: <?php echo $thumb_min_height; ?>rem">
        <h2 class="categoryDescription__title"><?php echo $heading_title; ?></h2>
        <?php if ($description) { ?>
        <div class="categoryDescription__description"><?php echo $description; ?></div>
        <?php } ?>
      </div>
    </div>
  </div>
</div>
<div id="product-category" class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <?php if ($categories) { ?>
      <div class="refineBlock">
        <h3 class="refineBlock__title"><?php echo $text_refine; ?></h3>
        <ul class="refineBlock__list list-unstyled">
          <?php foreach ($categories as $category) { ?>
          <li class="refineBlock__element"><a class="refineBlock__link" href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></li>
          <?php } ?>
        </ul>
      </div>
      <?php } ?>
      <?php if ($products) { ?>
      <div class="functionalBlock">
        <ul class="functionalBlock__list list-unstyled">
          <li class="functionalBlock__element hidden-xs">
            <div class="btn-group">
              <button type="button" id="list-view" class="functionalBlock__button btn" data-toggle="tooltip" title="<?php echo $button_list; ?>"><i
                  class="fa fa-th-list"></i></button>
              <button type="button" id="grid-view" class="functionalBlock__button btn" data-toggle="tooltip" title="<?php echo $button_grid; ?>"><i
                  class="fa fa-th"></i></button>
            </div>
          </li>
          <li class="functionalBlock__element"><a href="<?php echo $compare; ?>" id="compare-total" class="btn functionalBlock__link"><?php echo $text_compare; ?></a></li>
          <li class="functionalBlock__element functionalBlock__inputs">
            <div class="form-group input-group">
              <label class="input-group-addon" for="input-sort"><?php echo $text_sort; ?></label>
              <select id="input-sort" class="form-control" onchange="location = this.value;">
                <?php foreach ($sorts as $sorts) { ?>
                <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
                <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
                <?php } ?>
                <?php } ?>
              </select>
            </div>
            <div class="form-group input-group">
              <label class="input-group-addon" for="input-limit"><?php echo $text_limit; ?></label>
              <select id="input-limit" class="form-control" onchange="location = this.value;">
                <?php foreach ($limits as $limits) { ?>
                <?php if ($limits['value'] == $limit) { ?>
                <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
                <?php } ?>
                <?php } ?>
              </select>
            </div>
          </li>
        </ul>
      </div>
      <div class="row"> <?php foreach ($products as $product) { ?>
        <div class="product-layout product-list col-sm-12 col-xs-6">
          <div class="product-thumb">
            <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
            <div class="content">
              <div class="caption">
                <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
                <p class="productDescription"><?php echo $product['description']; ?></p>
                <?php if ($product['price']) { ?>
                <p class="price">
                  <?php if (!$product['special']) { ?>
                  <?php echo $product['price']; ?>
                  <?php } else { ?> <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span> <?php } ?>
                  <?php if ($product['tax']) { ?> <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span> <?php } ?> </p>
                <?php } ?>
                <?php if ($product['rating']) { ?>
                <div class="rating">
                  <?php for ($i = 1; $i <= 5; $i++) { ?>
                  <?php if ($product['rating'] < $i) { ?>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <?php } else { ?> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span><?php } ?>
                  <?php } ?> </div>
                <?php } ?> </div>
              <div class="button-group">
                <button type="button" data-toggle="tooltip" title="<?php echo $button_cart; ?>" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"><i class="fa fa-shopping-cart"></i></button>
                <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        </div>
        <?php } ?> </div>
      <div class="contentWrapper contentWrapper__pagination styled-block">
        <div class="row">
          <div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
          <div class="col-sm-6 text-right"><?php echo $results; ?></div>
        </div>
      </div>
      <?php } ?>
      <?php if (!$categories && !$products) { ?>
      <div class="contentWrapper contentWrapper__empty styled-block">
      <p><?php echo $text_empty; ?></p>
      <div class="buttons">
        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
      </div>
      </div>
      <?php } ?>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?> 
