<div id="search" class="menuDropdown__search input-group">
  <span class="input-group-btn">
    <button class="menuDropdown__link" type="button"><i class="fa fa-search"></i></button>
  </span>
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control" />
</div>